name: Output Information
on: workflow_dispatch
jobs:
  info:
    runs-on: ubuntu-latest
    steps:
      - name: Print the Github Context
        run: echo "${{ toJSON(github) }}"
      - name: Print Status
        run: echo "Done"